.intro{
    display: flex;
    height: 77vh;
    margin-top: 6rem;
}
.iLeft{
    display: flex;
    flex-direction: column;
    position: relative;
    flex: 1;
    gap: 2rem;

}
.iName{
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}
.iName>:nth-child(1){
    color: rgb(224, 228, 160);
    font-weight: bold;
    font-size: 3rem;
}
.iName>:nth-child(2){
    color: coral;
    font-weight: bold;
    font-size: 3rem;
}
.iName>:nth-child(3){
    color: blanchedalmond;
    font-size: 14px;
    margin-top: 10px;
}

.iButton{
    width: 10rem;
    height: 3rem;
   
}
.iButton:hover{
    background: white;
    cursor: pointer;
    border: 1px solid ;
    border-color: chocolate;
}
.iIcon>img{
    max-width: 50px;
    max-height: 50px;
    margin: 10px;
}
.iRight{
    flex: 1;
    position:relative;

}
.iRight>*{
    
        position: absolute;
        z-index: 1;
      
}
.iRight>:nth-child(1){
    max-width: 300px;
    max-height: 500px;
    margin-left: 150px;
    border: 1px solid #111547;
    border-radius: 150px;
    box-shadow: 4px 4px #00A4BD, 12px 7px #FF7A59, 12px 12px #334758;
}

/* @media screen and (max-width: 480px) {
    .intro {
      flex-direction: column;
      gap: 7rem;
      height: 64rem;
    }
}
  
    .iRight {
      transform: scale(0.8);
      left: -3rem;
    } */
